<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hospital.xhu.demo.dao.IDoctorInfoMapper">
    <resultMap type="com.hospital.xhu.demo.entity.DoctorInfo" id="doctorMap">
        <id column="doctor_id" property="id"/>
        <result column="department_id" property="departmentId"/>
        <result column="doctor_name" property="doctorName"/>
        <result column="reservation_price" property="reservationPrice"/>
        <result column="remaining_capacity" property="remainingCapacity"/>
        <result column="doctor_image_uri" property="doctorImageUri"/>
    </resultMap>

    <!--查询满足条件的医生-->
    <select id="select" resultMap="doctorMap" parameterType="map">
        SELECT doctor_id, department_id, doctor_name, reservation_price, remaining_capacity, doctor_image_uri
        FROM doctor_info
        <where>
            <if test="searchMap != null">
                <foreach collection="searchMap.entrySet()" separator="and" index="key" item="value">
                    ${key} = #{value}
                </foreach>
            </if>
        </where>
        <if test="orderedKey != null and orderedKey != ''">
            ORDER BY ${orderedKey}
        </if>
        <if test="isDesc != null and isDesc">
            DESC
        </if>
    </select>

    <!--查找符合条件的医生的数量-->
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT COUNT(doctor_id) FROM doctor_info
        <where>
            <if test="searchMap != null">
                <foreach collection="searchMap.entrySet()" separator="and" index="key" item="value">
                    ${key} = #{value}
                </foreach>
            </if>
        </where>
    </select>

    <!--添加医生的列表-->
    <insert id="insert" parameterType="list" useGeneratedKeys="true" keyProperty="id">
        INSERT IGNORE INTO
        doctor_info(doctor_id, department_id, doctor_name, reservation_price, remaining_capacity, doctor_image_uri)
        VALUES
        <foreach collection="infos" open="(" close=")" separator="), (" item="item">
            #{item.id}, #{item.departmentId}, #{item.doctorName}, #{item.reservationPrice},
            #{item.remainingCapacity}, #{item.doctorImageUri}
        </foreach>
    </insert>

    <!--更新满足的条件的医生的信息-->
    <update id="update" parameterType="map">
        UPDATE doctor_info SET
        <foreach collection="after.entrySet()" separator="," index="key" item="value">
            ${key}=#{value}
        </foreach>
        <where>
            <if test="before != null">
                <foreach collection="before.entrySet()" separator="and" index="key" item="value">
                    ${key}=#{value}
                </foreach>
            </if>
        </where>
    </update>

    <!--删除满足一定条件的医生信息，需要之后进行封装，最好不要传空Map进来，不然会直接删除所有的数据-->
    <delete id="delete" parameterType="map">
        DELETE FROM doctor_info
        <where>
            <if test="deleteMap != null">
                <foreach collection="deleteMap.entrySet()" separator="and" index="key" item="value">
                    ${key}=#{value}
                </foreach>
            </if>
        </where>
    </delete>
</mapper>